/* body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

img {
  width: 60px;
}

button {
  cursor: pointer;
}

.search {
  margin-bottom: 10px;
}

#message {
  margin-top: 10px;
  font-weight: bold;
}

form {
  margin-bottom: 20px;
}

form input {
  display: block;
  margin: 6px 0;
  padding: 6px;
  width: 300px;
}

.error {
  color: red;
  font-size: 12px;
  height: 14px;
}

.fav-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.fav-btn i {
  font-size: 20px;
  color: #bbb;
  transition: 0.3s;
}

.fav-btn i.active {
  color: red;
}

.fav-btn i:hover {
  transform: scale(1.2);
} */

body { font-family: Arial, sans-serif; padding: 20px; }
table { width: 100%; border-collapse: collapse; margin-top: 20px; }
th, td { border: 1px solid #ccc; padding: 8px; text-align: center; }
img { width: 60px; }
button { cursor: pointer; }
.search { margin-bottom: 10px; }
#message { margin-top: 10px; font-weight: bold; }
form { margin-bottom: 20px; }
form input { display: block; margin: 6px 0; padding: 6px; width: 300px; }
.error { color: red; font-size: 12px; height: 14px; }

/* Сердечки */
.fav-btn { background: none; border: none; cursor: pointer; }
.fav-btn img { width: 25px; transition: 0.3s; }
.fav-btn img.active { filter: invert(29%) sepia(100%) saturate(5000%) hue-rotate(340deg) brightness(90%) contrast(90%); }
.fav-btn img:hover { transform: scale(1.2); }
